@model BacklogBeta.Models.ViewModel.MovieListDetailsViewModel


@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>List</h4>
    <a asp-action="Create" asp-controller="Movies">Add Movie</a>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.List.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.List.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.List.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.List.Description)
        </dd>
  
    </dl>
</div>
<h2>Movies in this List</h2>
<ul>
    @foreach ( var movie in Model.List.MovieList)
    {
    <li>
        @movie.Movie?.Title  <a asp-Controller="Movies" asp-action="FromListDel" asp-route-id="@movie.MovieListId"> Delete from List</a>  |
        @movie.Movie?.Title  <a asp-Controller="Movies" asp-action="Details" asp-route-id="@movie.MovieId">Movie Details</a> |
    </li>
    }
</ul>

<div>
    <a asp-action="Edit" asp-route-id="@Model.List.ListId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
